<%- contentFor('body') %> 

<div class="jumbotron text-center" id = "pageSobre"> 

        <h1>Conheça a equipe desenvolvedora!!!</h1> 
        <div class="row"> 
                <% for (usuario of usuarios){ %>    
                     <div class="col-sm-4"> 
                        <h2><%= usuario.nome %></h2>  
                        <P><%= usuario.email %></P>
                        <img class="img-responsive" 
                        style="height: 250px" 
                        src="<%= usuario.avatar %>">
                        <P><%= usuario.github%></P>  
                     </div> 
                <% } %> 
        </div> 
</div>
